body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; /* Ensure root takes full width */
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%; /* Changed from 100vw to 100% */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}


.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
  width: 100%;
  max-width: 100%;
}

.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}

.dark-mode {
  background-color: #212529;
  color: #f8f9fa;
}

.dark-mode .navbar {
  background-color: #343a40 !important;
}

.dark-mode .card {
  background-color: #343a40;
  color: #f8f9fa;
}

.dark-mode .form-control {
  background-color: #495057;
  color: #f8f9fa;
}

.dark-mode .form-control::placeholder {
  color: #adb5bd;
}

.content-container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
  /* Remove margin-top from here */
}
/* .page-content {
  margin-top: 56px; 
} */


.footer {
  flex-shrink: 0;
}